# For Loops in Python

A `for` loop allows you to execute a block of code for every iteration over an iterable object.

## Understanding Iterables

The term "iterable" means that you can "iterate" over the object. In Python, an iterable is an object capable of returning its members one at a time, allowing it to be looped over in a `for` loop.

### Examples of Iterables

- **Strings:** You can iterate over every character in a string because strings are sequences of characters.
- **Lists:** You can iterate over every item in a list.
- **Dictionaries:** You can iterate over every key in a dictionary.

## Example Code

Here are some examples of how to use `for` loops with different types of iterables:

### Iterating Over a String | Syntax of a for Loop

```python
my_string = "Hello, World!"
for character in my_string:
    print(character)

In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [2]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [3]:
for char in mylist: #Since My list is len(10) it will iterate the for loop that amount of times
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [5]:
for num in mylist: 
    # Check for even
    if num % 2 == 0:
        print(f"Number: {num} is an Even Number")
    else:
        print(f"Number: {num} is an Odd Number")

Number: 1 is an Odd Number
Number: 2 is an Even Number
Number: 3 is an Odd Number
Number: 4 is an Even Number
Number: 5 is an Odd Number
Number: 6 is an Even Number
Number: 7 is an Odd Number
Number: 8 is an Even Number
Number: 9 is an Odd Number
Number: 10 is an Even Number

In [6]:
list_sum = 0

for num in mylist: 
    list_sum = list_sum + num

print(list_sum)

55

In [7]:
print(sum(mylist))

55

In [8]:
list_sum = 0

for num in mylist: 
    list_sum = list_sum + num

    print(list_sum) # Difference in Indentation

1
3
6
10
15
21
28
36
45
55

In [10]:
#Strings are a sequence and each character is accesible
mystring = "Hello World"

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [11]:
#With out a Variable 

for letter in "Hello World":
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [12]:
# You can call the Variable in the loop whatever you want
# _ to Iterate an Item/Object
for _ in "Hello World":
    print("Cool!")

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [13]:
tup = (1,2,3)
for item in tup:
    print(item)

1
2
3

In [14]:
#Tupple Unpacking
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [15]:
len(mylist)

4

In [16]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [17]:
# Tupple Unpacking to get individual
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [18]:
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [19]:
#You'll work with it a lot because work with Pairs and Tupples

In [24]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]

In [25]:
for item in mylist:
    print(item)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [26]:
for a,b,c in mylist:
    print(a)
    print(b)
    print(c)

1
2
3
4
5
6
7
8
9

In [27]:
d = {'k1':1,'k2':2,'k3':3}

In [28]:
for item in d:
    print(item)

k1
k2
k3

In [30]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [31]:
for key,value in d.items():
    print(value)

1
2
3